parameters:
    phpVersion: 70530
    level: 8
    paths:
        - forms
        - manage
        - register-form-entry
        - reset-secrets
        - set-access
        - sign-in
        - sign-up
        - subscribe
        - view
    scanFiles:
        - config.php
        - db_utils.php
        - form_saving_utils.php
        - session_utils.php

