/* Light mode */
@media (prefers-color-scheme: light) {
   :root {
        --manage-form-table-bg: #fafafa;
        --storing-failed-bg: red;
        --storing-failed-fg: white;
        --storing-succeeded-bg: green;
        --storing-succeeded-fg: white;
        --content-changed-bg: blue;
        --content-changed-fg: white;
        --remove-button-bg: #ff7979;
        --remove-button-fg: #fafafa;
        --remove-button-hover-bg: red;
        --remove-button-hover-fg: white;
   }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
   :root {
        --manage-form-table-bg: #111;
        --storing-failed-bg: red;
        --storing-failed-fg: white;
        --storing-succeeded-bg: green;
        --storing-succeeded-fg: white;
        --content-changed-bg: blue;
        --content-changed-fg: white;
        --remove-button-bg: #ff7979;
        --remove-button-fg: #fafafa;
        --remove-button-hover-bg: red;
        --remove-button-hover-fg: white;
   }
}

section{margin-top:2.5em}
table{background-color:var(--manage-form-table-bg);border-radius:5pt}
th,td{padding:4pt;text-align:left;vertical-align:middle}
input[type=text],select{min-width:7em;width:100%}
input[type=checkbox]{min-width:auto}
input[type=number]{min-width:4em}
input[type=number].display_sequence{width:6em}
.changed{background-color:var(--content-changed-bg);color:var(--content-changed-fg);padding:3pt;border-radius:3pt}
.failed{background-color:var(--storing-failed-bg);color:var(--storing-failed-fg);padding:3pt;border-radius:3pt}
.succeeded{background-color:var(--storing-succeeded-bg);color:var(--storing-succeeded-fg);padding:3pt;border-radius:3pt}
button.remove_attribute{background-color:var(--remove-button-bg);color:var(--remove-button-fg);border-color:var(--remove-button-fg)}
button.remove_attribute:hover,button.remove_attribute:active{background-color:var(--remove-button-hover-bg);color:var(--remove-button-hover-fg);border-color:var(--remove-button-hover-fg)}
button.remove_attribute:hover{border-style:outset}
button.remove_attribute:active{border-style:inset}
