<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8" />
<title>No forms exist yet - Umpire</title>
<meta name=description content="To view forms, they must exist first."/>
<meta name=author value="OmegaJunior Consultancy, LLC"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel=stylesheet href="/umpire/c/main.css"/>
</head>
<body>
<h1>No forms exist yet - Umpire</h1>
<h2>To view forms, they must exist first.</h2>
<p>Why not <a href="/umpire/manage/forms/new/">create a form</a> now?</p>
</body>
</html>
